.nfs*
.claude
playwright-sandbox

results_v1
src/web_shop_goals.json
src/datasets
src/logos
src/traces
src/*.sif
.apptainer/
src/__pycache__
**__pycache__**
*.env
src/.env
src/.browser-use-tmp/
src/campaign_runs/
src/artifacts/
*qwen3vl_30b_a3b
*qwen3vl_8b
