# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
test_site/node_modules
test_site/.pnp
test_site/.pnp.*
test_site/.yarn/*
!test_site/.yarn/patches
!test_site/.yarn/plugins
!test_site/.yarn/releases
!test_site/.yarn/versions

# testing
test_site/coverage

# next.js
test_site/.next/
test_site/out/

# production
test_site/build

# misc
test_site/.DS_Store
test_site/*.pem

# debug
test_site/npm-debug.log*
test_site/yarn-debug.log*
test_site/yarn-error.log*
test_site/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
test_site/.env*

# vercel
test_site/.vercel

# typescript
test_site/*.tsbuildinfo
test_site/next-env.d.ts

# local env files
.env

# local development
apptainer_cache
docs
apptainer_tmp
artifacts
build-temp*
playwright-sandbox
__pycache__
midscene-desktop*
container_home
logs
vnc_pass